[submodule "assets/DigitaPalavra"]
	path = assets/jogos/DigitaPalavra
	url = git@github.com:josecprocha/DigitaPalavra.git
[submodule "assets/jogos/FalaPalavra"]
	path = assets/jogos/FalaPalavra
	url = git@github.com:josecprocha/FalaPalavra.git
[submodule "assets/jogos/GnuMuncherWeb"]
	path = assets/jogos/GnuMuncherWeb
	url = git@github.com:josecprocha/GnuMuncherWeb.git
[submodule "assets/jogos/SistemaSolar"]
	path = assets/jogos/SistemaSolar
	url = git@github.com:josecprocha/SistemaSolar.git
