<br /> <!-- Espaço entre o cabeçalho e a parte principal da página -->

<div class="container-fluid" id="content">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <div class="jumbotron" style="
        background-image: url('https://images.unsplash.com/photo-1482855549413-2a6c9b1955a7?ixlib=rb-0.3.5&s=7ff188a0490b6ec3b1060d415e0f3356&auto=format&fit=crop&w=1950&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        color: white;
        ">
    <h1 class="display-4" style="text-align:center"><b>ESCOLA DE SUPER PODERES</b></h1>
    <p class="lead" style="text-align:center">E se fosse possível aprender todo conteúdo da escola jogando vídeo-game?</p>
    <p class="lead" style="text-align:center">E se você pudesse ganhar, na vida real, todos os poderes que seu personagem ganhar no jogo?</p>
    <hr class="my-4" style="background-color: gray;">
    <p>O projeto "Escola de Super Poderes" tem como objetivo fazer com que as pessoas <em>aprendam</em> e <em>gostem</em> de lidar com o conhecimento que todos têm o direito de aprender na escola. Isso através da "gamificação" de diversos conteúdos, habilidades e competências descritos em documentos oficiais, como Parâmetros Curriculares, Diretrizes Curriculares, Matrizes de Referências de avaliações e programas de formação de professores, tendo como espinha dorsal a Base Nacional Comum Curricular (BNCC).</p>
  </div>

  {#
  <div class="container">
    <!--  Trabalho elaborado por "xSkULLFR"
          Obtido em: https://www.deviantart.com/xskullfr/art/Animated-City-w-SVG-HTML-CSS-Download-671023219
          Sob licença CC 3.0. O código pode ser alterado, o autor deve ser creditado, não se pode obter dinheiro com esta arte. -->
    <object type="image/svg+xml" data="{{ url('/svg/ville-animee.svg') }}" width="100%" height="100%" id="villeAnimee"></object>
  </div> #}

  {#
  <div class="campinho"></div>
  http://www.wdrfree.com/170/how-pure-css-animation-background
  #}

      {# Mais informações sobre animações usando CSS
    http://animista.net/
    30 Awesome SVG Animations - https://www.hongkiat.com/blog/svg-animations/
    150 Amazing Examples of CSS Animation - https://1stwebdesigner.com/css-effects/
    25 Awesome Web Background Animation - https://bashooka.com/coding/web-background-animation-effects/
    15 Inspiring Examples of CSS Animation - https://webdesign.tutsplus.com/articles/15-inspiring-examples-of-css-animation-on-codepen--cms-23937
    #}

<div class="card-deck">

  <div class="card align-items-center text-center mb-4" style="max-width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1517673132405-a56a62b18caf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1056&q=80" alt="Books" style="max-width:90%;width:auto;padding-top:20px;">
    {# https://unsplash.com/photos/asviIGR3CPE #}
    <div class="card-body">
      <h5 class="card-title"><b>Projeto Bom Menino Boa Menina</b></h5>
      <p class="card-text">Atividades de educação tradicional "gamificadas" da melhor forma possível.</p>
    </div>
    <div class="card-footer bg-transparent">
      <a href="goodboy" class="btn btn-primary disabled">Acessar!</a>
    </div>
  </div>

  <br />

  <div class="card align-items-center text-center mb-4" style="max-width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1562976540-fb367855f81e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80" alt="Books" style="max-width:90%;width:auto;padding-top:20px;">
    {# ttps://unsplash.com/photos/QVpGCeQM2eE #}
    <div class="card-body">
      <h5 class="card-title"><b>Projeto Escola de Super Poderes</b></h5>
      <p class="card-text">Aquilo que acreditamos ser a melhor forma de ensino na forma de jogos.</p>
    </div>
    <div class="card-footer bg-transparent">
      <a href="superpowers" class="btn btn-primary disabled">Acessar!</a>
    </div>
  </div>

  <br />

  <div class="card align-items-center text-center mb-4" style="max-width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1548474197-fe5543f71ceb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1199&q=80" alt="Books" style="max-width:90%;width:auto;padding-top:20px;">
    {# https://unsplash.com/photos/COovdd_3gzI #}
    <div class="card-body">
      <h5 class="card-title"><b>Jogos Lúdicos</b></h5>
      <p class="card-text">Jogos que podem ser usados como ferramentas mediadoras
        do processo de ensino e aprendizagem conforme a criatividade do educador.</p>
    </div>
    <div class="card-footer bg-transparent">
      <a href="game" class="btn btn-primary">Acessar!</a>
    </div>
  </div>

  <div class="card align-items-center text-center mb-4" style="max-width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1455390582262-044cdead277a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80" alt="Pen" style="max-width:90%;width:auto;padding-top:20px;">
    {# https://unsplash.com/photos/COovdd_3gzI #}
    <div class="card-body">
      <h5 class="card-title"><b>Atividades no Google Form</b></h5>
      <p class="card-text">Atividades usando formulários</p>
    </div>
    <div class="card-footer bg-transparent">
      <a href="gdocs" class="btn btn-primary">Acessar!</a>
    </div>
  </div>

  <br />

</div>

</div> <!-- container fluid... -->

<br />
