
<br />
<div class="container max-width: 1199.98px shadow p-3 mb-5 bg-white rounded" id="content" style="background-color:white">
  <!-- ========================================== -->
  <!-- ========================================== -->
  <h2>Nosso objetivo</h2>
  <!-- ========================================== -->
  <!-- ========================================== -->

  <p class="text-justify">Transformar todo o <em>currículo</em> da <em>educação escolar</em>, isto é, conteúdo, habilidades e competências descritas em documentos oficiais, em jogos de vídeo-game gratuitos e acessíveis tanto pela internet, no nosso site, quanto pela Google Play&trade;, de forma que toda pessoa com acesso à internet possa acessar e <em>aprender tudo</em> aquilo a que tem direito.</p>
  <br />

  <!-- ========================================== -->
  <!-- ========================================== -->
  <h2>O que é educação escolar</h2>
  <!-- ========================================== -->
  <!-- ========================================== -->

  <p class="text-justify"><em>É uma política</em>. É um conjunto de decisões tomada pela equipe daquelas pessoas em quem votamos a cada quatro anos para ocupar cargos no poder executivo e que estão de acordo com decisões (leis) tomadas pelas pessoas que estão no legislativo.</p>
  <ul>
    <li class="text-justify"><em>Exemplo de como o legislativo decide sobre a educação:</em> pela <a href="http://www.planalto.gov.br/ccivil_03/constituicao/constituicaocompilado.htm">Constituição Federal</a>, documento elaborado por deputados federais e senadores, decidiu-se que educação (escolar) é direito de todos, dever do estado e da família (art. 205), e obrigatória dos 04 aos 17 anos (art. 208, inciso I), já pela LDB, a <a href="http://www.planalto.gov.br/ccivil_03/leis/L9394.htm">Lei 9.394/96</a>, que estabelece as Diretrizes e Bases da Educação Nacional, decretada pelo Congresso Nacional, estabelece que a educação escolar compõe-se de Superior e a Básica (Art. 21), sendo a Educação Básica composta pelo Ensino Infantil, Fundamental e Médio (Art. 21).</li>
    <li class="text-justify"><em>Exemplo de como o executivo decide sobre a educação:</em> em relação ao ensino fundamental, o poder executivo (presidente e ministro da educação) escolhem os conselheiros a compor o a Câmara de Educação Básica do Conselho Nacional de Educação (CNE-CEB), que através de pareceres (estudos) e resoluções (decisões) direcionam a educação básica, isto devido à duas afirmações em leis federais. A primeira, na LDB, <a href="http://www.planalto.gov.br/ccivil_03/leis/L9394.htm">Lei 9.394/96</a> determina que os conteúdos e currículos mínimos da educação básica sejam norteados pelas Competências e Diretrizes estabelecidas pela União (art. 9º, item IV). A segunda, na <a href="http://www.planalto.gov.br/ccivil_03/leis/L9131.htm">Lei 9.131/95</a>, que altera a Lei de Diretrizes e Bases de 61, a (<a href="http://www.planalto.gov.br/ccivil_03/leis/L4024.htm">Lei 4.024/61</a>), estabelece que cabe ao Ministério da Educação formular e avaliar a política nacional de educação, contando com a colaboração do <a href="http://portal.mec.gov.br/conselho-nacional-de-educacao/apresentacao">Conselho Nacional de Educação (CNE)</a> e das câmaras que o compõe (§ 1º do Art. 6º), para emitir pareceres (estudos) e decidir sobre os assuntos que lhe são pertinentes.</li>
  </ul>
  <br />
  <!-- ========================================== -->
  <!-- ========================================== -->
  <h2>Como é decidido o que se aprende na escola</h2>
  <!-- ========================================== -->
  <!-- ========================================== -->

  <br />
  <h5>a) Diretrizes</h5>
  <p class="text-justify"> As instituições que trabalham com Educação Básica tem total liberdade para definir seu próprio currículo escolar, mas por força de lei (art. 9º, inciso IV da <a href="http://www.planalto.gov.br/ccivil_03/leis/L9394.htm">LDB</a>) devem seguir diretrizes estabelecidas na forma de resoluções elaboradas pela Câmara de Educação Básica do Conselho Nacional de Educação (CNE-CEB), sendo estas as principais diretrizes em vigor:</p>
  <ul>
    <li class="text-justify">Diretrizes Curriculares Nacionais Gerais para a Educação Básica: <a href="http://portal.mec.gov.br/index.php?option=com_docman&view=download&alias=5367-pceb007-10&category_slug=maio-2010-pdf&Itemid=30192">Parecer</a> e <a href="http://portal.mec.gov.br/dmdocuments/rceb004_10.pdf">Resolução</a>.</li>
    <li class="text-justify">Diretrizes Curriculares Nacionais para a Educação Infantil: <a href="http://portal.mec.gov.br/dmdocuments/pceb020_09.pdf">Parecer</a> e <a href="http://portal.mec.gov.br/index.php?option=com_docman&view=download&alias=2298-rceb005-09&category_slug=dezembro-2009-pdf&Itemid=30192">Resolução</a>.</li>
    <li class="text-justify">Diretrizes Curriculares Nacionais para o Ensino Fundamental de 9 (nove) anos: <a href="http://portal.mec.gov.br/index.php?option=com_docman&view=download&alias=6324-pceb011-10&category_slug=agosto-2010-pdf&Itemid=30192">Parecer</a> e <a href="http://portal.mec.gov.br/dmdocuments/rceb007_10.pdf">Resolução</a>.</li>
    <li class="text-justify">Diretrizes Curriculares Nacionais para o Ensino Médio: <a href="http://pactoensinomedio.mec.gov.br/images/pdf/pceb005_11.pdf">Parecer</a> e <a href="http://pactoensinomedio.mec.gov.br/images/pdf/resolucao_ceb_002_30012012.pdf">Resolução</a>.</li>
  </ul>
  <p class="text-justify">Há outras diretrizes, regulando a Educação Profissional Técnica de Nível Médio, a Educação do Campo, a Educação Básica na modalidade Educação Especial, a EJA em situação de privação de liberdade, a EJA por meio da Educação a Distância, a Educação Escolar Indígena, a Educação Escolar de crianças, adolescentes e jovens em situação de itinerância, a Educação Escolar Quilombola...</p>
  <br />

  <h5>b) Avaliações</h></h5>
  <p class="text-justify">A segunda política que define os conteúdos do ensino fundamental, é a de avaliação. A nível nacional existe o <a href="http://portal.inep.gov.br/educacao-basica/saeb">SAEB</a>, Sistema de Avaliação da Educação Básica, composto de três políticas de avaliação:</p>
  <ul>
    <li class="text-justify">A <a href="portal.inep.gov.br/web/guest/educacao-basica/saeb/sobre-a-anresc-prova-brasil-aneb">ANRESC</a> (Prova Brasil), Avaliação Nacional do Rendimento Escolar, censitária e bianual, que avalia alunos de escolas públicas com mais de 20 alunos nos anos alvos (5º e 9º ano do EF e 3º ano do EM) de acordo com suas habilidades em Língua Portuguesa (foco em leitura) e Matemática (foco na resolução de problemas);</li>
    <li class="text-justify">A <a href="portal.inep.gov.br/web/guest/educacao-basica/saeb/sobre-a-anresc-prova-brasil-aneb">ANEB</a>, Avaliação Nacional da Educação Básica, amostral e nos moldes da anterior, aplicada a escolas com mais de dez alunos nos anos alvos que não atendem aos critérios de participação da ANRESC, o que inclui escolas particulares;</li>
    <li class="text-justify">E a <a href="http://portal.inep.gov.br/web/guest/educacao-basica/saeb/sobre-a-ana">ANA</a>, Avaliação Nacional de Alfabetização, para aferir níveis de alfabetização e letramento em Língua Portuguesa (leitura e escrita) e Matemática.</li>
  </ul>
  <p class="text-justify">Todas estas avaliações têm itens formulados com base em uma <a href="portal.inep.gov.br/web/guest/educacao-basica/saeb/matrizes-e-escalas">Matriz de Referência</a>: trata-se de um recorte de conteúdos para cada disciplina e ano a ser avaliado. As matrizes de referência são subdividias em tópicos ou temas, e estes, em descritores. Os descritores, por sua vez, são uma associação entre conteúdos curriculares e operações mentais desenvolvidas pelos alunos que traduzem certas competências e habilidades.</p>
  <p class="text-justify">Há ainda, a nível nacional, outras avaliações, como a <a href="http://portal.inep.gov.br/web/guest/provinha-brasil">Provinha Brasil</a> (matriz disponível <a href="http://portal.inep.gov.br/web/guest/matrizes-de-referencia1">aqui</a>), cuja adesão é opcional e aplicada à crianças matriculadas no 2º ano do ensino fundamental; o <a href="http://portal.inep.gov.br/web/guest/enem">ENEM</a> (matriz disponível <a href="http://portal.inep.gov.br/web/guest/matriz-de-referencia">aqui</a>), que  busca avaliar o desempenho escolar e acadêmico ao fim do Ensino Médio; e o <a href="http://portal.inep.gov.br/web/guest/educacao-basica/encceja">ENCCEJA</a> (matriz disponível <a href="http://portal.inep.gov.br/web/guest/educacao-basica/encceja/matrizes-de-referencia">aqui</a>), que busca aferir competências, habilidades e saberes de jovens e adultos que não concluíram o Ensino Fundamental ou o Ensino Médio na idade adequada.</p>
  <br />

  <h5>c) Base Nacional Comum Curricular</h5>
  <p class="text-justify">Por fim, existe a <a href="http://basenacionalcomum.mec.gov.br/">Base Nacional Comum Curricular</a>, documento que define as aprendizagens essenciais que todos os alunos devem desenvolver ao longo das etapas e modalidades da Educação Básica, estabelecendo conhecimentos, competências e habilidades que se espera que todos os estudantes desenvolvam ao longo de cada escolaridade básica. Desde a constituição de 1988 é estabelecido que deverá ser fixado conteúdos mínimos para o Ensino Fundamental, porém, só em 2015 a Base começa a ser realmente elaborada. Atualmente a versão final da BNCC foi entregue pelo MEC ao CNE, para elaboração de parecer e projeto de resolução.</p>
  <br />

</div>
