<!DOCTYPE html>
<html dir="ltr" lang="{{ alanguage ?? 'pt-BR' }}">
<head>
  {{ include('_modules/head.html.twig') }}
  {% block head %}
  {% endblock %}
</head>

<body class="colmeia nouser">
  <header id="header" class="">
    {{ include('_modules/header.html.twig') }}
  </header>

  <main id="main">
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    {{ include('_modules/footer.html.twig') }}
  </footer>
  {% block script %}
  {% endblock %}
</body>
</html>
